.bcd140526_post_feed li.item {
    display: block;
    clear: both;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    border-top: 5px dotted #BBB;
    border-style: dotted;
    border-color: blue;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-wrap: break-word;
}
.bcd140526_post_feed ul {
    margin: 0;
    padding: 0;
    
    
}
.bcd140526_post_feed li.item.item-0 {
    margin: 0;
    padding: 0;
    border: none;
    
    
    
}
.bcd140526_post_feed li.item h1.title {
    display: block;
    margin: 0 0 5px 0;
    text-align: center;
    font-weight: bold;
    color: #e2136e;
    
    
}

.bcd140526_post_feed li.item div.meta {
    font-size: 20px;
    color: #999;
	margin: 0 0 5px 0;
	
}
.bcd140526_post_feed li.item div.meta .meta-item {
    display: inline-block;
	*display: inline;
	zoom: 1;
    margin: 0 1em 0 0;
    
}
.bcd140526_post_feed li.item p.snippet {
    line-height: 1.5em;
	margin: 0;
}
.bcd140526_post_feed.list a.thumbnail {
    margin: 0 7px 7px 0;
    float: center;
    display: block;
    line-height: 1;
    border-radius: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    max-width: 100%;
    height: auto;
   color: #e2136e;
	/*
    width: 48px;
    height: 48px;
	*/
	
    overflow: hidden;
    position: relative;
    
}
.bcd140526_post_feed.list a.thumbnail img {
    width: 100%;
    height: 100%;
}
.bcd140526_post_feed li.item a.cate {
    display: block;
    margin: 0 0 5px 0;
}
div.bcd140526_post_feed.column a.thumbnail {
    display: block;
    width: 100%;
    line-height: 1;
    margin: 0 0 5px 0;
}
div.bcd140526_post_feed.column a.thumbnail img {
    max-width: 100%;
    height: auto;
}
